<div class="container">
	<div class="row" style="margin-top: 30px">
		<% @lists.each_slice(3) do |row| %>
				<% row.each do |list| %>
					<div class="col">
						<div class="card">
							<%= image_tag list.photo, class: 'card-img-top' %>	
							<div class="body">
								<h5><a class="nav-link" href="<%= list_path(list.id) %>"><%= list.name %></a></h5>
								<p><%= list.description %></p>

								<% if list.validate_list(list.id) %>
								<%= link_to "Incompleted", remove_list_path(list.id), class: 'btn btn-danger', method: :delete %>
								<% else %>
								<%= link_to "Completed", list_user_lists_path(list), class: 'btn btn-success', method: :post %>
								<% end %>

							</div>
						</div>
					</div>
				<% end %>		
			<div class="w-100" style="margin-top: 20px"> </div>
		<% end %>
	</div>
</div>